body {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    border-bottom: 1px solid #19191a;
}
ul li,ol li{
    padding: 1em ;
    list-style-position: inside;
}

ol.answers{
    list-style: upper-alpha;
}

ol.answers li:hover{
    border: 0.1em solid #1e366a;
    border-color: #e5ecfc;
    padding: 0.95em;
    cursor: pointer;

}
#main{
    padding: 0 1.5em;
}


#section-correct-answer{
    display: none;
}
#correct-answer{
    font-weight: bold;  
}

div.section{
    margin-top: 2em;
}

